body {
	max-width: 960px;
	margin: auto;
}

/* Large screens */
.headerbar {
	/* Add a margin on the top to look a bit better */
	margin-top: 10px;
	padding: 5px;
	background-color: #DBF3F3;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.headerbar-title {
	font-size: 1.5em;
	font-family: 'Helvetica';
}

/* Small screens */
@media all and (max-width: 500px) {
	.headerbar {
		/* Use column as there's not enough space to go horizontally */
		flex-direction: column;
		/* Don't add a margin as it's not needed on a smaller screen where it
			 will look more like a vertical menu */
		margin-top: 0;
	}
}
