body {
	max-width: 1280px;
	margin: auto;
	font-family: 'Helvetica';
}

/* Header styling */

/* Large screens */
.headerBar {
	/* Add a margin on the top to look a bit better */
	margin-top: 10px;
	padding: 5px;
	background-color: #DBF3F3;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.headerBar-title {
	font-size: 1.5em;
}

/* Small screens */
@media all and (max-width: 500px) {
	.headerBar {
		/* Use column as there's not enough space to go horizontally */
		flex-direction: column;
		/* Don't add a margin as it's not needed on a smaller screen where it
			 will look more like a vertical menu */
		margin-top: 0;
	}
}

.filter {
	width: 200px;
}

/* ProductGrid styling */
.productGrid {
	/* Remove default styling used for ul elements */
	padding: 0;
	margin: 0;
	margin-top: 10px;
	list-style: none;

	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}

/* ProductDetails styling */
.productDetails {
	/* Use border-box to make calculations easier
		 by having width include padding/borders */
	box-sizing: border-box;
	width: 320px;
	height: 310px;
	padding: 5px;
	border: 0.5px grey solid;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.productDetails-image {
	height: 220px;
	width: 220px;
	margin: 0 auto;
}

.productDetails-sale {
	background-color: red;
	color: white;
	padding: 10px;
	margin: 2px;
}

.productDetails-exclusive {
	background-color: green;
	color: white;
	padding: 10px;
	margin: 2px;
}

.productDetails-detailContainer {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.productDetails-name {
	text-align: left;
	word-wrap: break-word;
}

.productDetails-price {
	text-align: right;
	font-size: 1.6em;
}
